<!DOCTYPE html>
  <head>
    <title>Simpsons Episode Browser</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body ng-app="myApp" ng-controller="MainCtrl">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-7">
        <h1>Simpsons Episode Browser</h1>
        <p class="lead">A demo app using AngularJS, D3, and Neo4j</p>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-5">
        <img src="img/simpsons.jpg" class="img-responsive img-rounded">
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <h2>Choose a Season:</h2>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <h2 class="pull-right">Season {{ season }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="btn-group btn-group-justified" id="season-btn-group">
        <a data-ng-repeat="s in seasons" ng-click="updateSeason()" class="btn btn-default year-group">{{ s }}</a>
      </div>
    </div>

    <div class="row">
      <div class="ep-list col-xs-4 col-sm-4 col-md-3 col-lg-3">
        <button ng-click="updateEpisode()" class="ep-list-item fx-zoom-down fx-easing-cubic fx-speed-800" data-ng-repeat="ep in episodes">
          <h5>{{ep[0].data.title}}</h5>
          <h4>Season: {{ep[0].data.season}} Episode: {{ep[0].data.sequence}}</h4>
          <h6>Air Date: {{ dateFormat(ep[0].data.air_date) }}</h6>
        </button>
      </div>
      <div class="col-xs-8 col-sm-8 col-md-9 col-lg-9">
        <div class="row">
          <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
            <h4>{{ title }}</h4>
          </div>
          <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
            <h5 class="pull-right">Season: {{ snumber }} Episode: {{ enumber }}</h5>
          </div>
        </div>
        <div class="row plot-div">


          <p ng-bind-html="plot"></p>
        </div>
        <div class="row">
          <force-chart class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="height: 400px;"></force-chart>
        </div>
      </div>
    </div>
    <div class="row">
      <bar-chart class="col-xs-12 col-sm-12 col-md-12 col-lg-12"></bar-chart>
      <h4 id="character-name"></h4>
      <p id="character"></p>
    </div>

    <script src="js/TweenMax.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/ng-fx/dist/ng-fx.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/d3/d3.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>