body {
  background: #FAFAFA;
  margin: 10px;
  padding-left: 20px;
  padding-right: 20px;
  overflow-x: hidden;
}

.btn {
  font-size: 11px;
}

.plot-div {
  margin-left: 1px;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px 5px 5px 5px;
  max-height: 200px;
  overflow: scroll;
}

.ep-list {
  margin-top: 15px;
  background: #8E8E8E; 
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 5px 5px 5px;
  max-height: 450px;
  overflow: scroll;
}

.ep-list-item {
  width: 100%;
  background-color: white;
  border: 2px solid grey;
  border-radius: 5px;
  padding: 5px;
}

.btn-default:hover {
  background-color: #FFD700;
}

.ep-list-item:hover {
  background-color: #FFD700;
}

#season-btn-group {
  overflow: scroll;
}


#svg-container {
  border: 3px solid #251d0d;
  border-radius: 8px;
}

circle {
  stroke: lightgrey;
  stroke-width: 2px;
}

.episode {
  fill: #104E8B;
}
.episode:hover {
  opacity: .6;
}

.character {
  fill: #6E7B8B;
}
.character:hover {
  opacity: .6;
}
.link {
  pointer-events: none;
  stroke: #966e35;
  stroke-opacity: .4;
}

.selected circle {
  stroke: #966e35;
  stroke-width: 3px;
  fill: #611400; 
}

.fixed circle{
  stroke: tomato;
  stroke-width: 3px;
}